
<footer>
    <h4>copy@right 2019</h4>
    <div class="found_me">
      <a href="https://github.com/seif1000"> <i class="fab fa-github"></i></a> 
       <a href="https://www.linkedin.com/in/benmazouz-seif-eddine-721112141/"> <i class="fab fa-linkedin-in"></i></a>
      
    </div>
</footer>

</body>
</html>