<div id="mySidenav" class="sidenav">
            
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/user/profile?edit=true" id="last"><img src="/<%= navImage %>" alt="profile"> </a>
            <a href="/home">home</a>
            <a href="">About</a>
            <a href="/user/logout">sing-out <i class="fas fa-sign-out-alt" ></i></a>
           

         
  </div>