@import url("https://fonts.googleapis.com/css?family=Noto+Sans|PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap");
* {
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
  font-family: 'Noto Sans', sans-serif;
 }

body {
  background: url("../asset/h.jpg");
  background-position: center -45px;
  background-repeat: no-repeat;
  background-size: cover; 
  margin: 0%;
  padding: 0%;
}
  nav {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 0.1em 3em; }
  
  nav .brand {
    font-family: 'Gloria Hallelujah', cursive;
    color: #6b5b95;
    font-size: 20px; }
  
.container {
  padding-top: 100px;
  width: 95%;
  margin: auto; }
  .container .form {
    width: 35%;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 1em; }
    .container .form .login__register {
      margin-bottom: 0.5em;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      background: transparent;
      border-radius: 15px;
      cursor: pointer; }
      .container .form .login__register div {
        flex: 45%;
        text-align: center;
        padding: 1em;
        border: 2px solid #6b5b95;
        transition: all 2s;
         
       }
        .container .form .login__register div:hover {
          background: #6b5b95;
          color: white; }
      .container .form .login__register .login {
        background: #6b5b95;
        margin-right: 5px; }
    .container .form form {
      width: 100%; }
      .container .form form p {
        text-align: center;
        font-size: 14px;
        color: gray; }
      .container .form form div {
        width: 80%;
        margin: 16px auto; }
        .container .form form div h3 {
          text-align: center;
          color: white; }
        .container .form form div label {
          font-size: 15px;
          color: white; }
        .container .form form div input {
          width: 100%;
          padding: 0.5em;
          display: block;
          outline: none;
          background: transparent;
          border: 1px solid  #00ffff;
          border-radius: 5px;
          color: white; }
        .container .form form div input[type=submit] {
          padding: 0.8em;
          background: #d69c2f;
          color: white;
          border: none;
          cursor: pointer;
          transition: all 0.5s; }
          .container .form form div input[type=submit]:hover {
            background: #af7f23; }
    .container .form .ramdan {
      position: relative;
      height: 400px;
      background: white;
      padding-bottom: 0.6em;
      background-image: linear-gradient(#6b5b95, #8071a8, #9c90bb, #f1eff5); }
    .container .form .form__register {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none; }
    .container .form .form__login {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      footer {
        width: 100%;
        height: 120px;
        background: black;
        color: white;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-content: center;
        padding: 1em;
        background: #5a5a5a;
        color: lightgray;
        margin-top: 50px; }
        footer .found_me {
          margin-top: 1em; }
          footer .found_me .fab {
            font-size: 20px;
            margin-right: 6px; }
          footer .found_me a {
            text-decoration: none;
            color: lightgray; }

            @media (max-width:1000px){
            
                .container .form{
                  width: 80%;
                  margin: auto;
                }
            }
          
      